@tailwind base;
@tailwind components;
@tailwind utilities;

.yay {
  color: #3b49df1a;
  background-color: #ffffff;
  border-radius: 0.375rem;
  font-size: 1.25rem;
}
.tagsHeight {
  height: 42vh;
}
@layer base {
  html {
    font-size: 62.5%;
  }
  h1 {
    @apply text-4xl font-bold;
  }

  h2 {
    @apply text-3xl font-bold;
  }

  h3 {
    @apply text-2xl font-bold;
  }

  h4 {
    @apply text-xl font-bold;
  }

  h5 {
    @apply text-lg;
  }

  h6 {
    @apply text-md;
  }

  p {
    @apply text-sm;
  }

  .btn-outline {
    @apply text-primary-blue  border border-primary-blue cursor-pointer rounded-xl py-2 px-5 text-md  font-semibold;
  }
  .btn-outline:hover {
    @apply bg-primary-blue text-white-white underline cursor-pointer rounded-xl py-2 px-5 text-md;
  }
  .btn-list {
    @apply bg-transparent text-black-words  py-2 px-5 text-md cursor-pointer;
  }
  .btn-list:hover {
    @apply bg-gray-button  text-primary-blue underline  py-2 px-5 text-md cursor-pointer rounded-lg;
  }
  .social-icons {
    @apply text-4xl text-black-words p-2;
  }
  .social-icons:hover {
    @apply text-4xl text-primary-blue bg-gray-button cursor-pointer rounded-lg p-2;
  }
  .heading {
    @apply p-6 text-black-words;
  }
  .heading:hover {
    @apply p-6 text-primary-blue;
  }
  .rightLinks {
    @apply border-t border-gray-button bg-transparent  p-6;
  }
  .rightLinks:hover {
    @apply border-t border-gray-button  bg-white-white text-primary-blue  p-6;
  }
}
